*{
			margin:0;
			padding:0;
		}
		body{
			min-width: 650px;
			margin:5px auto;
			width:65%;
			background:url(../img/mainbg.gif) repeat-x;
			background-size:100% 100%;
		}
		#wrap{
			background: url(../img/body_bg.png) repeat-x;
		}
		header{
			background: url(../img/title-yellow.png) no-repeat;
			height:250px;
			margin-top:15px;
			background-size: 100% 100%;
			border: 1px solid black;
		}
		header h1{
			width:20%;
			font-size:2vw;
			color:white;
			position:relative;
			top:75px;
			left:9%;
		}
		header p{
			width:30%;
			position:relative;
			top:50%;
			left:10%;
			font-size: 1.1vw;
		}
		header p span{
			color:yellow;
			font-size:1.5em;
			font-style:oblique;
		}
		nav{
			overflow: hidden;
			background: url(../img/under.gif) repeat-x;
		}
		nav ul{
			overflow: hidden;
			margin-left:15%;
			list-style: none;
		}
		nav ul li{
			float:left;
			margin-left:1%;
		}
		nav ul li a{
			font-size:.85vw;
			text-decoration: none;
			color:white;
			display:block;
			padding:7px 15px;
			font-family: "微软雅黑";
		}
		nav ul li a:hover{
			background: url(../img/hover.gif) center left;
			background-size:100% 100%;
		}
		.here{
			background:url(../img/hover.gif);
			background-size:100% 100%;
		}
		article{
			background-color:white;
			position: relative;
			border:1px solid black;
			height:600px;
		}
		article h2{
			font-size:1.3vw;
			margin:0 auto;
			text-align: center;
			padding:1%;
			
		}
		article ul{
			position:absolute;
			left:55%;
			margin-top:5%;
			list-style: none;
		}
		article li{
			margin:20px;
		}
		article img{
			position:absolute;
			left:10%;
			float:left;
			width:39%;
			height:75%;
		}
		article li a{
			font-size:1.1vw;
			background:url(../img/corner.gif) left top no-repeat;
			text-align: center;
			color:black;
			text-decoration: none;
			display:block;
			padding:10px 20px;
			background-color:gray;
		}
		article li a:hover{
			background-color:green;
			color:white;
		}
		article div.head{
			margin:10px;
			color:white;
			background:url(../img/hd.jpg);
			background-size:100% 100%;
		}
		article section{
			background:url(../img/background.jpg) left top;
			background-size:100% 100%;
			position:absolute;
			top:6.5vw;
			left:5%;
			width:50%;
			height:75%;
		}
		article section span{
			padding:1%;
			margin-right:1%;
			background-color:grey;
		}
		.guanjian{
			font-weight: bold;
			font-size:1.5vw;
			background-color:transparent;
		}
		section p{
			font-size:1vw;
			text-indent: 2em;
			line-height: 1.5em;
			margin:15%;
			margin-top:0;
			padding-bottom:30px;
			width:70%;
		}
		section h4{
			font-size:1vw;
			margin:70px 80px;
			margin-bottom: 10px;
		}
		.this{
			color:white;
			background-color:green;
		}
		footer{
			text-align: center;
			margin:20px;
			color:#999;
		}