*{
			margin:0;
			padding:0;
		}
		body{
			margin:5px auto;
			width:1100px;
			background:url(../img/mainbg.gif);
			background-size:100% 100%;
		}
		#wrap{
			background: url(../img/body_bg.png) repeat-x;
		}
		header{
			background: url(../img/title-yellow.png) no-repeat;
			height:250px;
			margin-top:15px;
			background-size: 100% 100%;
			border: 2px solid black;
		}
		header h1{
			color:white;
			position:relative;
			top:75px;
			left:105px;
		}
		header p{
			position:relative;
			top:130px;
			left:90px;
			font-size: 1.1em;
		}
		header p span{
			color:yellow;
			font-size:1.5em;
			font-style:oblique;
		}
		nav{
			overflow: hidden;
			background: url(../img/under.gif) repeat-x;
		}
		nav ul{
			overflow: hidden;
			margin-left:150px;
			list-style: none;
		}
		nav ul li{
			float:left;
			margin-left:2px;
		}
		nav ul li a{
			text-decoration: none;
			color:white;
			display:block;
			padding:7px 15px;
			font-family: "微软雅黑";
		}
		nav ul li a:hover{
			background: url(../img/hover.gif) center left;
			background-size:100% 100%;
		}
		.here{
			background:url(../img/hover.gif);
			background-size:100% 100%;
		}
		article{
			background-color:white;
			position:relative;
			border:1px solid black;
		}
		article div{
			position:relative;
			margin:5px auto;
			width:70%;
			height:900px;
			background: url(../img/80251439408274325.jpg) no-repeat center;
			background-size:100% 100%;
		}
		table {
			top:150px;
			left:80px;
			position:absolute;
			text-align:center;
			border-collapse: collapse;
			border:1px solid black;
		}
		table td{
			padding:5px 10px;
			border:1px solid black;
		}
		.main{
			font-size:1.5em;
			width:20px;
			background-color:lightskyblue;
		}
		.items{
			font-weight: bold;
		}
		#title{
			font-size:2em;
			font-family: "微软雅黑";
			background: url(../img/h3require.gif) no-repeat center bottom;
			height:50px;
		}
		#myhead{
			width:100px;
			
		}
		