		*{
			margin:0;
			padding:0;
		}
		body{
			min-width: 500px;
			margin:5px auto;
			width:65%;
			background:url(../img/mainbg.gif) repeat-x;
			background-size:100% 100%;
		}
		#wrap{
			background: url(../img/body_bg.png) repeat-x;
		}
		header{
			background: url(../img/title-yellow.png) no-repeat;
			height:250px;
			margin-top:15px;
			background-size: 100% 100%;
			border: 1px solid black;
		}
		header h1{
			width:20%;
			font-size:2vw;
			color:white;
			position:relative;
			top:75px;
			left:9%;
		}
		header p{
			width:30%;
			position:relative;
			top:50%;
			left:10%;
			font-size: 1.1vw;
		}
		header p span{
			color:yellow;
			font-size:1.5em;
			font-style:oblique;
		}
		nav{
			overflow: hidden;
			background: url(../img/under.gif) repeat-x;
		}
		nav ul{
			overflow: hidden;
			margin-left:15%;
			list-style: none;
		}
		nav ul li{
			float:left;
			margin-left:1%;
		}
		nav ul li a{
			font-size:.85vw;
			text-decoration: none;
			color:white;
			display:block;
			padding:7px 15px;
			font-family: "微软雅黑";
		}
		nav ul li a:hover{
			background: url(../img/hover.gif) center left;
			background-size:100% 100%;
		}

		article{
			background-color:white;
			border:1px solid black;
		}
		article div.title{
			margin-left:25%;
			height:80px;
		}
		article img.schoolBadge{
			float:left;
			height:6.5vw;
		}
		article h1{
			float:left;
			margin-top:4%;
			display: inline;
			font-size: 2.5vw;
			color:green;
		}
		article div.control{
			margin-top:.6vw;
			text-align:right;
		}
		.current{
			background-color:black;
			color:white;
		}
		article input{
			padding:.5%;
		}
		#yema{
			font-size:1vw;
			display: inline;
		}
		#yema span{
			padding:5px;
		}
		article div.content{
			overflow: hidden;
			height:7vw;
			position:relative;
			background-color:darkgray;
		}
		article div.contentList{
			position:absolute;
			margin:1%;
			width:5000px;
			overflow: hidden;
		}
		article ul{
			padding:5px;
			list-style: none;
		}
		article li{
			margin-right:3.5vw;
			display:inline;
			margin-right:;
		}
		article ul a img{
			width:9vw;
			height:5vw;
		}
		article div.show {
			text-align:center;
			margin:20px 0;
		}
		article div.show img{
			width:60%;
		}
		.here{
			background:url(../img/hover.gif);
			background-size:100% 100%;
		}
		.border{
			background-color:red;
		}
		footer{
			text-align: center;
			margin:20px;
			color:#999;
		}